
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link"  routerLink="instituicao" >Instituicao De Ensino <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"  routerLink="livro"  >Cadastro de Livros <span class="sr-only"> </span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"  routerLink="usuario" >Usuário </a>
            </li>
        </ul>
    </div>

</nav>